<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bienvenidos a Mercado Liebre</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div>
                <img class='logo' src="/images/logo-mercado-liebre.svg">
            </div>
            <div class='search'>
                <input type='text' placeholder='Buscar productos, marcas'>
                <button><i class='fa fa-search'></i></button>
            </div>
            <div class='sub-compra'>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <ul>
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>
                <ul>
                    <li>Creá tu cuenta <i class="far fa-id-card"></i></li>
                    <li>Ingresá <i class="fas fa-sign-in-alt"></i></li>
                    <li>Mis compras <i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
            <div class='burger-menu-background'>
                <div class='burger-icon'>
                    <i class="fa fa-bars burger"></i>
                </div>
            </div>
            <br>
        </header>
        <section class='banner'>
            <img src="images/img-home-banner.jpg">
        </section>
        <main>
            <section>
                <h3>Basado en tu última visita</h3>
                <div>
                    <article>
                        <img src="images/img-cafetera-moulinex.jpg">
                        <div class='articles'>
                            <i class="fas fa-truck"></i>
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-macbook-pro-2019.jpg">
                        <div class='articles'>
                            <i class="fas fa-truck"></i>
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-samsung-galaxy-s10.jpg">
                        <div class='articles'>
                            <i class="fas fa-truck"></i>
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                            <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-tv-samsung-smart.jpg">
                        <div class='articles'>
                            <i class="fas fa-truck"></i>
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">SmartTv Samsung 43''</h4>
                        </div>
                    </article>        
                </div>
            </section>
            <section> 
                <h3>Ofertas</h3>
                <div>
                    <article>
                        <img src="images/img-cafetera-moulinex.jpg">
                        <div class='articles'>
                            <i class="fas fa-truck"></i>
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-macbook-pro-2019.jpg">
                        <div class='articles'>
                            <i class="fas fa-truck"></i>
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-samsung-galaxy-s10.jpg">
                        <div class='articles'>
                            <i class="fas fa-truck"></i>
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                            <h4 class="description">Samsung Galaxy S10</h4>
                        </div>       
                    </article>
                    <article>
                        <img src="images/img-tv-samsung-smart.jpg">
                        <div class='articles'>
                            <i class="fas fa-truck"></i>
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">SmartTv Samsung 43''</h4>
                        </div>
                    </article>
                </div>
            </section>  
        </main>
        <footer>
            <section>
                <div class='credit-card'><i class="fas fa-credit-card"></i></div>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interes con tarjeta o con efectivo en puntos de pago.¡Y siempre es seguro!</p>
            </section>
            <section>
                <div class='gift'><i class="fas fa-gift"></i></div>
                <h2>Envío gratis desde $2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <div class='user-shield'><i class="fas fa-user-shield"></i></div>
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada de que no puedas hacer, porque estas siempre protegid@.</p>
            </section>
            <br>
            <section>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </footer>
    </body>
</html>